node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
monzo-card-selection/.eslintrc
monzo-card-selection/.gitignore
monzo-card-selection/.watchmanconfig
monzo-card-selection/app.json
monzo-card-selection/App.tsx
monzo-card-selection/babel.config.js
monzo-card-selection/package.json
monzo-card-selection/tsconfig.json
monzo-card-selection/yarn.lock
monzo-card-selection/assets/icon.png
monzo-card-selection/assets/splash.png
monzo-card-selection/assets/cards/meteor-shower-thumbnail.png
monzo-card-selection/assets/cards/meteor-shower.png
monzo-card-selection/assets/cards/purple-sky-thumbnail.png
monzo-card-selection/assets/cards/purple-sky.png
monzo-card-selection/assets/cards/summer-sunset-thumbnail.png
monzo-card-selection/assets/cards/summer-sunset.png
monzo-card-selection/components/AnimationHelpers.ts
monzo-card-selection/components/Card.tsx
monzo-card-selection/components/CardSelection.tsx
monzo-card-selection/components/CheckIcon.tsx
monzo-card-selection/components/hookah.tsx
monzo-card-selection/components/Thumbnail.tsx
